<!doctype html>
<html lang="en">
  <head>
  <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
-->
    {% load static %}
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}"/>
    <title>{% block title %}
    
    {% endblock  %}</title>
  </head>
  <body>  
    <div class="container">
    <br><br><br>
    {% include "includes/navbar.html" %}
    {% if messages %}
      <div class="messages">
          {% for message in messages %}
          <h5 {% if message.tags == 'error' %} class="alert alert-danger" {% else %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h5>
          {% endfor %}
      </div>
    {% endif %}
        {% block body %}
        
        {% endblock body %}
    </div>

  <script src="{% static 'Js/bootstrap.min.js'%}"> </script>
  <script src="{% static 'Js/jquery-3.2.1.js'%}"> </script>
  </body>
</html>