{% extends "layout.html" %}
{% block title %}
    kayıt ol
{% endblock title %}   
{% block body %}
{% load crispy_forms_tags %} 
    <div class="row">
        <div class="col-md-6 offset-md-3">
    <h3>Kayıt Ol</h3>
    <hr/>
    <form method="post" action="/User/register/"> <!-- djangoda telda işareti cok cok onemli -->
    {% csrf_token %} <!-- bu bir tokendir mitm 'li engellemek için araştır!-->
        {{form|crispy}} <!-- flash gibi asp.net gibi degil cok cok daha kolay bir sistem ile form yapılarını ekranda gosterebilirz-->
        <br>
        <button type="submit" class="btn btn-danger">Kayıt ol</button>
    </form>
    </div>
    </div>
{% endblock body %}